table, th, td {
    border:1px solid rgb(26, 26,26);
    outline-style: dotted;
    outline-color: black;
    outline-width: thin;
    background-color: rgb(48, 48, 48);
    padding: 10px;
    
  }
  table{
    padding: 20px;
    border-radius: 10px;
    width: 100%;
  }

  td, th{
    width: 50%;
  }

 .iconya{
  width:100px;
  height:100px;
  float: left;
  padding :0 0 0 20px;
  max-width: 7vw;
  max-height: 7vw;
 }

  .tableFixHead{
    overflow: auto;
    width:50%;
    height: 800px;
    margin: auto;
    border-radius: 10px;
    border:1px solid rgb(26, 26,26);
   }

   .tableFixHead::-webkit-scrollbar {
    display: none;
}

   
  .tableFixHead thead {
    position: sticky;
    top: 0;
    z-index: 1;
   }
  a{
    color: rgba(187, 187, 187, 0.999);
  }
   h1{
    text-align: center;
    display: inline-block;
   }

  .profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 50%;
    border: 2px solid  rgb(26, 26,26);
  }

  body {
  margin-top: 3%;
  background-image: url("https://i.ibb.co/vwK5JXT/bg.jpg");
  background-size: 100%;
  background-color: black;
  color: rgba(187, 187, 187, 0.999);
  font-family: Garamond, serif;
  font-size: 1.3vw;
  font-weight: bold;
  }